



:root {
    --background-color: gray;
    --jumbotron-font: 'Magra', sans-serif;
    --header-font: 'Open Sans', sans-serif;
    --main-font: 'Telex', sans-serif;
}

/********************/
/* Jumbotron Styles */
/********************/
.jumbotron {
    padding: 20px;
    font-family: var(--jumbotron-font);
}

/********/
/* Main */
/********/
main {
    font-family: var(--main-font);
}

#main-columns {
    display: flex;
}

h2 {
    font-family: var(--header-font);
}

/* Search Column */

#search-column {
    width: 30%;
    background-color: var(--background-color);
    padding: 10px 5px 10px 5px;
}

#search-bar {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

li {
    margin: 2px;
    height: 50px;
}

/* Results Column */

/* Today's Forecast */
#results-column {
    justify-content: center;
    padding: 10px 5px 10px 5px;
    width: 70%;
    text-align: center;
}

#today-forecast {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding-top: 15px;
}

#today-forecast h1 {
    text-decoration: underline;
}

#title-column {
    width: 35%;
    text-align: center;
}

#city-title, #today-date, #weather-items {
    text-align: left;
    padding: 0 0 0 10px;
    font-size: 25px;
    margin-bottom: 15px;
}

#weather-items div {
    margin-bottom: 15px;
}

#weather-info-column {
    width: 65%;
}

/* Five Day forecast */

.card-header {
    background-color: var(--background-color);
}

#five-day-forecast-title {
    margin-top: 20px;
    text-decoration: underline;
}

#five-day-forecast-area {
    display: flex;
    font-size: 25px;
    margin-top: 20px;
}

#five-day-forecast-area .list-group-item {
    height: 75px;
    text-align: left;
}
